{% load static %}
<!-- Hero Section -->
<section id="hero" class="hero section light-background">
  <img src="{% static 'images/hero-bg.png' %}" alt="" data-aos="fade-in" />

  <div class="container position-relative">
    <div
      class="welcome position-relative"
      data-aos="fade-down"
      data-aos-delay="100"
    >
      <h2>WELCOME TO PHARMATOOLBOX</h2>
      <p>An Integrated AI-Platform for Medication Safety & Education</p>
    </div>
    <!-- End Welcome -->

    <div class="content row gy-4">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
          <h3>Why Choose PHARMATOOLBOX?</h3>
          <p>
            PharmaToolbox brings drug data, interaction checkers, and dosage
            tools together in one simple platform. Designed for pharmacy
            professionals, researchers, and students, it saves time, improves
            accuracy, and makes complex tasks easier.
          </p>
          <div class="text-center">
            <a href="#about" class="more-btn"
              ><span>Learn More</span> <i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- End Why Box -->

      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="d-flex flex-column justify-content-center">
          <div class="row gy-4">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                <i class="bi bi-capsule-pill"></i>
                <h4>Drug Interaction Checker</h4>
                <p>
                  Instantly check for potential drug–drug interactions to ensure
                  safe prescriptions and prevent adverse effects.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                <i class="fa-solid fa-calculator"></i>
                <h4>Dosage Calculator</h4>
                <p>
                  Quickly calculate safe and accurate medication dosages for
                  patients, reducing errors and saving time in clinical
                  practice.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                <i class="fa-solid fa-book-medical"></i>
                <h4>PharmacoPedia</h4>
                <p>
                  Access a reliable library of drug details, indications, side
                  effects, and clinical guidelines at your fingertips.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->
          </div>
        </div>
      </div>
    </div>
    <!-- End  Content-->
  </div>
</section>
<!-- /Hero Section -->
