{% extends "base.html" %}

{% block title %}Home - PharmaDX{% endblock %}

{% block content %}
    {% include "home/hero.html" %}
    {% include "partials/about.html" %}
    {% include "partials/stats.html" %}
    {% include "partials/departments.html" %}
    {% include "partials/services.html" %}
    {% include "partials/team.html" %}
    {% include "partials/testimonials.html" %}
    {% include "partials/appointments.html" %}
    {% include "partials/gallery.html" %}
    {% include "partials/contact.html" %}
{% endblock %}
